html,
body,
#app,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
}

.animation {
  width: 190px;
  height: 240px;
  margin: 2% auto;
  /* total length of animation and number of frames */
  animation: play 3s steps(24) infinite;
  transform: scale(0.5, 0.5);
}


@keyframes play {
    /* -190px * however many frames */
    100% { background-position: -4560px; }
}

.txt-display {
	/*font-size: 9em;*/
	font-size: 10vw;
	line-height: 1.25em;
	font-family: 'Poppins';
	font-weight: bold;
	-webkit-text-fill-color: rgba(100, 100, 100, 0);
	-webkit-text-stroke-width: 1px;
	/*-webkit-text-stroke-color: blue;*/
	-webkit-text-stroke-color: #D7D7D7;
	margin-left: 160px;
}

.txt-title {
	font-size: 1em;
	line-height: 1.5em;
	font-family: 'Poppins';
	font-weight: bold;
}

.txt-generic {
	font-size: 1em;
	line-height: 1.6em;
	font-family: serif;
}

.menu {
	display: flex !important;
	flex-direction: column !important;
}

.thumbnail-width {
	width: 360px;
}

.thumbnail-height {
	height: 360px;
}

.move-up-mobile {
	margin-top: -6px;
}

/* ------------------------------------------- */

@media (max-width: 767px) {

.txt-display {
	font-size: 3.5em;
	line-height: 1.25em;
	font-family: 'Poppins';
	-webkit-text-fill-color: rgba(100, 100, 100, 0);
	-webkit-text-stroke-width: 1px;
	/*-webkit-text-stroke-color: blue;*/
	-webkit-text-stroke-color: #D7D7D7;
	margin-left: 0px;
}

.title {
	margin-top: 100px
}

.menu {
	top: 0px;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	text-align: center;
	width: 200px;
	padding: 12px;
	background-color: white;
}

.txt-title {
	font-size: 1.05em;
	line-height: 1.6em;
	font-family: 'Poppins';
}

.txt-generic {
	font-size: 0.95em;
	line-height: 1.2em;
	font-family: serif;
}

.thumbnail-width {
	width: 300px;
}

.thumbnail-height {
	height: 300px;
}

.move-up-mobile {
	margin-top: -48px;
	margin-bottom: -12px;
}

}

